<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329197052453-426n33kgn288btdcn7cr4s4cret4p6ko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329197052453-426n33kgn288btdcn7cr4s4cret4p6ko</string>
	<key>API_KEY</key>
	<string>AIzaSyDCo6f_MoqmlZuHDmRlnwTGHofnP90uy98</string>
	<key>GCM_SENDER_ID</key>
	<string>329197052453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sunggweon-Hyeong.real-time-chat</string>
	<key>PROJECT_ID</key>
	<string>real-time-chat-7dbb2</string>
	<key>STORAGE_BUCKET</key>
	<string>real-time-chat-7dbb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329197052453:ios:f5b25ec605f33c29a3d5cc</string>
	<key>DATABASE_URL</key>
	<string>https://real-time-chat-7dbb2.firebaseio.com</string>
</dict>
</plist>